/*apply style to body*/
body{
    color:darkgoldenrod;
/*I just went with a basic font family*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
}

/*apply style to my header*/

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    background-color:black;
    
}

/*need to change h1 but only in the header*/

header h1{
    font-size: 200%;
    font-weight: 900;
    margin: 0;
}

/*time to change all of nav in the header*/

header nav{
    min-width: 300px;
    margin: 8px 0;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav a{
    color:darkgoldenrod;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
/*makes the nav bar illumate when hoved above*/
header nav a:hover{
    box-shadow: inset 0px 0px 8px  #2aefcb, 0 0 15px  #2aefcb;
  }

.dinosaur{
    height: 400px;
    background-image: url(../photos/DINOSAUR.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.selfie{
    position:absolute;
    top:150px;
    left: 30px;
    border: 3px whitesmoke;
    height: 150px;
    width: 150px;
}

.dinosaur h2{
    font-style: italic;
    font-size: 32px;
    color:darkgoldenrod;
    margin-top: 250px;
    background-color: aliceblue;
}

/*commonSection is the basic format of title to the side, juicy content to the left*/
.commonSection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}
.commonSection_style{
    margin: 20px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
}

.commonSection_title{
    font-size: 48px;
    display: inline-block;
    border-right: 5px solid;
    margin-right: 35px;
    text-align: right;
    padding: 30px;
    flex-basis: 25%;
}

/*box is the box look through the other classes*/
.box{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 66%;
}

.surfReport{
    position: relative;
    margin: 12px;
    width: fit-content;
    background-image: url(./assets/photos/shark_bite_surfboard_desk_1.webp);
}

.ledWall{
    position: relative;
    margin: 12px;
    width: fit-content;
}

.calculator{
    position: relative;
    margin: 12px;
    width: fit-content;
}

.pastelPuzzle{
    position: relative;
    margin: 12px;
    width: fit-content;
}

.runBuddy{
    position: relative;
    margin: 12px;
    width: fit-content;
}
img{
    border: 5px solid;
}

/*contact portion styling*/
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;}
    
.contact-style{
        margin: 20px auto;
        padding-bottom: 50px;
        width: 100%;
        display: flex;
}
.contact-style ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact-style a{
    diplay: block;
    padding: 10px 30px;
}
.contact-title{
    font-size: 48px;
    display: inline-block;
    border-right: 5px solid;
    margin-right: 35px;
    text-align: right;
    padding: 30px;
    flex-basis: 25%;
}